<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}

<html lang="en">
    {% block content %}
    <body style="background-color:white;">
        <br>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <button style="color:white; background-color:black;" class="btn" name="submit" type="submit">Create</button>
            </form>

        </div>
    </body>
    <br><br><br><br>
    <br><br><br>
    {% endblock %}



</html>