<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}

<html lang="en">
    {% block content %}

	<body style="background-color:#f5f5f5;">
	<div class="container">
		<br>
		<div class="jumbotron" >
		  <h1 class="display-4"><strong>ABOUT US</strong>	</h1>

		  <hr class="my-4"/>
		  <p class="blockquote">Welcome to Suraksha, your number one source for Women Security. Women Empowerment and Women Security is our
              Motto and We're dedicated to providing you the very best technological measures to ensure your security.<br><br>
		  	We hope that our services make you feel safe in uncertain times. If you have any questions or comments, please don't hesitate
              to contact us. <br><br>

              Sincerely,<br>
		  	Team Suraksha
		  </p>
		</div>

		<h5 align="center">DEVELOPERS:</h5>

		<div class="row" style="max-width:90%">
			<div class="card col s12 m5">
				<div class="card-image waves-effect waves-block waves-light">
				  <img height="300" width="200" class="activator" src="{% static 'Images/arihant.jpeg' %}" style="border-radius:50%; padding-top:10px;">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Arihant Chawla<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-action">
				  <a style="color:white; background-color:black;" href="https://www.linkedin.com/in/arihantchawla/" target="_blank" class="btn">LinkedIn</a>
				  <a style="color:white; background-color:black;" href="https://github.com/ArihantChawla" target="_blank" class="btn">Github</a>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Project Mentor<i class="material-icons right">close</i></span>
				  <p>Acted as project mentor for other developers for this project. Helped in resolving issues, managing ideas and suggesting ideas.</p>
				</div>
			</div>

			<div class="card col s12 m5">
				<div class="card-image waves-effect waves-block waves-light">
				  <img height="300" width="200" class="activator" src="{% static 'Images/Parikh.jpeg' %}" style="border-radius:50%; padding-top:10px;">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Parikh Goyal<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-action">
				  <a style="color:white; background-color:black;" href="https://www.linkedin.com/in/parikh-goyal-errpv/" target="_blank" class="btn">LinkedIn</a>
				  <a style="color:white; background-color:black;" href="https://github.com/errpv78" target="_blank" class="btn">Github</a>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Project Contribution<i class="material-icons right">close</i></span>
				  <p>Designed and developed the web-application. Worked with different maps and geolocation APIs, styled and managed web pages.</p>
				</div>
			</div>

			<div class="card col s12 m5">
				<div class="card-image waves-effect waves-block waves-light">
				  <img height="300" width="200" class="activator" src="{% static 'Images/Ankit.jpg' %}" style="border-radius:50%; padding-top:10px;">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Ankit Goyal<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-action">
				  <a style="color:white; background-color:black;" href="https://www.linkedin.com/in/ankit-goyal-07017a182/" target="_blank" class="btn">LinkedIn</a>
				  <a style="color:white; background-color:black;" href="https://github.com/ankitgoyal0301" target="_blank" class="btn">Github</a>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Project Contribution<i class="material-icons right">close</i></span>
				  <p>Developed the news crawler and worked with messaging service APIs. Managed web-pages styling.</p>
				</div>
			</div>
		</div>

		<div class="row" style="max-width:60%">
			<div class="card col s8 m6">
				<div class="card-image waves-effect waves-block waves-light card-small">
				  <img height="300" width="200" class="activator" src="{% static 'Images/Jaskaran.jpeg' %}" style="border-radius:50%; padding-top:10px;">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Jaskaran Singh<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-action">
				  <a style="color:white; background-color:black;" href="https://www.linkedin.com/in/jaskaran-singh-351426192/" target="_blank" class="btn">LinkedIn</a>
				  <a style="color:white; background-color:black;" href="https://github.com/jaskaran-23" target="_blank" class="btn">Github</a>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Project Contribution<i class="material-icons right">close</i></span>
				  <p>Worked on email notification feature and styling of web pages.</p>
				</div>
			</div>

			<div class="card col s12 m5">
				<div class="card-image waves-effect waves-block waves-light">
				  <img height="300" width="200" class="activator" src="{% static 'Images/Nibhrit.jpeg' %}" style="border-radius:50%; padding-top:10px;">
				</div>
				<div class="card-content">
				  <span class="card-title activator grey-text text-darken-4">Nibhrit Garg<i class="material-icons right">more_vert</i></span>
				</div>
				<div class="card-action">
				  <a style="color:white; background-color:black;" href="https://www.linkedin.com/in/nibhrit-garg-36b6b4193" target="_blank" class="btn">LinkedIn</a>
				  <a style="color:white; background-color:black;" href="https://github.com/Nibhrit-Garg" target="_blank" class="btn">Github</a>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Project Contribution<i class="material-icons right">close</i></span>
				  <p>Managed content and styling of web pages.</p>
				</div>
			</div>

		</div>
	</div>
	</body>

    {% endblock %}



</html>