<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}

<html lang="en">
    {% block content %}
    <body style="background-color:white;">

        <div class="container">
            <br>
            <div class="jumbotron jumbotron-fluid"  style="background-color:#ECEFF1;">
              <div class="container">
                <h1 class="display-4">Welcome, back</h1>
                <p class="lead">Login to your registered account.</p>
              </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
            <br>
                <button style="color:white; background-color:black;" class="btn" type="submit">Login</button>
            </form>
            <br>
            No account yet,  <a href="/register"><strong>Create New Account</strong></a>.

        </div>
    </body>
    <br>

    {% endblock %}



</html>